body{
    margin: 1px;
    font-family: Arial, sans-serif;
}

iframe{
    width: 100%;
    margin: 0%;
    text-align: center;
}



.sec{
    width: 100%;
    background-attachment: fixed;
    background-color: blue;
    text-align: center;
    border: 1 solid blue;
}

.foot{
    text-emphasis: none;
    text-align: center;
    color: white;
}