body{
    margin: 1px;
    font-family: Arial, sans-serif;
}
header{
    z-index: 10;
}

iframe{
    width: 100%;
    margin-top: 15px;
    text-align: center;
    border: none;
}



.sec{
    width: 100%;
    background-attachment: fixed;
    background-color: #575757;
    text-align: center;
    border: 1 solid blue;
    color: white;
}

foot{
    text-emphasis: none;
    text-align: center;
    width: 100%;
    color: white;
}

.cont-one{
    height: 700px;
    margin-top: -80px;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url('../assets/bg1.jpg');
    background-repeat: no-repeat; /* prevent tiling */
    background-size: cover;
    background-position: center;
}

.cont-two{
    height: 700px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url('../assets/bg3.jpg');
    background-repeat: no-repeat; /* prevent tiling */
    background-size: cover;
    background-position: center;
}


.cont-one aside{
    position: absolute;
    right: 0;
    bottom: 40%;
    width: 550px;
    background-color: transparent;
    font-size: 2.5em;
    transform-origin: center right;
    white-space: nowrap;
}

.cont-one aside .head-one{
    color: royalblue;
    width: 100px;
}
.cont-one aside .head-two{
    color: aliceblue;
    width: 100px;
}

.cont-one aside .search{
    color: aliceblue;
    width: 100px;
}

.cont-one aside .search input{
    color: black;
    width: 450px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 5%;
    font-size: 20px;
    font-family: sans-serif;
}

.cont-two {
    padding: 20px;
}

.cont-two a {
    text-decoration: none;
    color: royalblue;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}
.columns{
    display: flex;
    gap: 20px; /* space between columns */
}

.columns .column{
    flex: 1; /* each column takes equal space */
    padding: 20px;
    text-align: center;
    background-color: #eee;
}

.header-cont {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}